.navbar-brand {
  font-weight: bold;
}

span.notification {
  font-style: italic;
}

span.error {
  color: #a00;
}

.col-header {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.col-header {
  list-style: none;
}

.messages {
  overflow: auto;
  background: #eee;
  border-radius: 6px;
}

.messages .row {
  margin: 8px;
}

#input {
  width: 100%;
  margin-top: 8px;
}

#users li {
  display: list-item;
  list-style: initial;
}