html, body {
  height: 100%;
  overflow: hidden;
}

.container, #console-content, #chat-content {
  height: calc(100% - 60px);
}

#console, #chats, #chats .tab-pane {
  height: 100%;
}

.navbar-brand {
  font-weight: bold;
}

span.notification {
  font-style: italic;
}

span.error {
  color: #a00;
}

.col-header {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.col-header {
  list-style: none;
  padding-bottom: 5px;
}

.messages {
  overflow: auto;
  background: #eee;
  border-radius: 6px;
  height: 100%;
}

.messages .row {
  margin: 8px;
}

.messages .row.history {
  opacity: 0.5;
}

#input {
  width: 100%;
  margin-top: 8px;
}

#channels li > a, .users li > a {
  padding: 5px 10px;
}

.users li > a {
  color: #000;
}
