{% extends "base.html" %}

{% block content %}
  <div class="row" id="chat-content">
    <div class="col-md-2" id="channels">
      <ul class="nav nav-pills nav-stacked">
        <li class="col-header">Channels</li>
        <li role="presentation">
          <a href="#server" aria-controls="server" role="tab" data-toggle="tab">@server</a>
        </li>
      </ul>
    </div>
    <div class="tab-content col-md-10" id="chats">
        <div class="row tab-pane console" id="server">
          <div class="col-md-9 messages">
            <div class="row help">
              <!-- Row to the rescue! -->
              <pre>/login vasya</pre>
              Try to run this command. It attempts to connect to the server as Vasya.
            </div>
            <div class="row help">
              <p>You won't appear on any channels after that. You should keep yourself entertained all alone in your pitiful #PHP channel.</p>
              <pre>/join #php</pre>
            </div>
          </div>
          <div class="col-md-3 users"></div>
        </div>
    </div>
  </div>

  <div class="row" id="chat-box">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-9">
          <form action="#" method="post" name="chat">
            <input type="text" name="input" autocomplete="off" id="input" />
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
{% end %}