<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Whirl</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">whirl</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#console" id="console-menu" aria-controls="console-content" role="tab" data-toggle="tab">Console</a>
            </li>
            <li>
              <a href="#chat" id="chat-menu" aria-controls="chat-content" role="tab" data-toggle="tab">Chat</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row" id="console-content">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="console">
          <div class="messages" id="console_log">
            <div class="row">
              <!-- Row to the rescue! -->
              <pre>/login vasya</pre> Try running it. It attempts to connect to the server as Vasya.
              <hr>
              <p>You won't appear on any channels after that. You should keep yourself entertained all alone in your pitiful #PHP channel.</p>
              <pre>/join #php</pre>
              <hr>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row" id="chat-content" style="display:none;">
        <div class="col-md-2" id="channels">
          <ul class="nav nav-pills nav-stacked">
            <li class="col-header">Channels</li>
            {#
            {% for channel in channels %}
            <li role="presentation">
              <a href="#{{ channel }}" aria-controls="{{ channel }}" role="tab" data-toggle="tab">#{{ channel }}</a>
            </li>
            {% end %}
            #}
          </ul>
        </div>
        <div class="tab-content col-md-10" id="chats">
          {#
          {% for channel in channels %}
            <div class="row tab-pane chat" id="{{ channel }}">
              <div class="col-md-9 messages"></div>
              <div class="col-md-3 users"></div>
            </div>
          {% end %}
          #}
        </div>
      </div>

      <div class="row" id="chat-box">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-9">
              <form action="#" method="post" name="chat">
                <input type="text" name="input" autocomplete="off" id="input" />
                {% module xsrf_form_html() %}
              </form>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ static_url('jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('chat.js') }}" type="text/javascript"></script>
</html>
