{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-block">
      <h3>Register</h3>
      <br>
      {% try %}
        {% if not success %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% include 'partials/register_form.html' %}
        {% end %}
      {% except %}
        {% include 'partials/register_form.html' %}
      {% end %}
    </div>
    <div class="col-md-4"></div>
  </div>
{% end %}